<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <full_page_cache>
                <souin_cache>
                    <enabled>0</enabled>
                    <keep_original_header>0</keep_original_header>
                    <key_list_style>souin</key_list_style>
                </souin_cache>
            </full_page_cache>
        </system>
    </default>
</config>
