<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="system">
            <group id="full_page_cache">
                <group id="surrogate_key" translate="label" showInDefault="1" sortOrder="605">
                    <label>Surrogate Key</label>
                    <field id="enabled" translate="label comment" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Use Surrogate-Key instead of X-Magento-Tags</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[Caution: this will disable cache tags for varnish]]></comment>
                    </field>
                    <field id="keep_original_header" translate="label comment" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Keep the original X-Magento-Tags header</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="key_list_style" translate="label comment" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Style of Keys in the header</label>
                        <source_model>Renttek\SurrogateKey\Model\Config\Source\HeaderStyle</source_model>
                        <comment><![CDATA[Souin = comma separated, Fastly = space separated]]></comment>
                    </field>
                    <depends>
                        <field id="caching_application">2</field>
                    </depends>
                </group>
            </group>
        </section>
    </system>
</config>

